/* Card.css */
.card {
    height: auto !important;
    width: auto !important;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow:10px 0px ;
}

.card-body{
    /* padding: 2px !important;
        display: flex !important; */
            /* justify-content: center; */
            /* align-items: center !important; */
}

.card-title {
  margin: 0;
}



