.html-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-div {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.sass-div {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.reactbs5-div {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.javascript-div {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.react-div {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.imgskills {
    height: 40px;
}
.sass-imgskills {
    height: 38px;
}

.pro-bar {
    width: 50%;
    height: 7px !important;
    font-size: 20px;
}
.pro-text{
    font-size: 8px;
}
.progress-text{
    font-size: 15px;
}